<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("LayoutPartial/MetaTagPartial")
    @await Html.PartialAsync("LayoutPartial/CssPartial")
    <link rel="shortcut icon" type="image/x-icon" href="~/images/logo.png" />
</head>
<body>
    <div class="wrapper">
        <!-- header -->
        @await Html.PartialAsync("LayoutPartial/HeaderPartial")
        <!-- END of header -->
        <!-- Main -->
        <main>
            <div class="container">
                @RenderBody()
            </div>  
        </main>
        <!-- END of Main -->
        <!-- Footer -->
        @await Html.PartialAsync("LayoutPartial/FooterPartial")
        <!-- END of Footer -->
    </div>
    @await Html.PartialAsync("LayoutPartial/JsScriptsPartial")
</body>
</html>
