<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("LayoutPartial/MetaTagPartial")
    @await Html.PartialAsync("LayoutPartial/CssPartial")
    <link rel="shortcut icon" type="image/x-icon" href="~/images/logo.png" />
</head>
<body>
    <div class="wrapper">
        <!-- header -->
        @await Html.PartialAsync("LayoutPartial/HeaderPartial")
        <!-- END of header -->
        <!-- Main -->
        <main>
            <div class="container">
                <div class="activebuttons">
                    <button type="button" class="btn btn-light btn-lg btn_blue">
                        Создать заметку
                    </button>
                    <button type="button" class="btn btn-secondary btn-lg">
                        Удалить
                    </button>
                </div>
                <div class="buttonsfornote">
                    @RenderBody()
                </div>
            </div>
        </main>
        <!-- END of Main -->
        <!-- Footer -->
        @await Html.PartialAsync("LayoutPartial/FooterPartial")
        <!-- END of Footer -->
    </div>
    @await Html.PartialAsync("LayoutPartial/JsScriptsPartial")
</body>
</html>
