<header>
    <nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
        <a asp-action="List" asp-controller="Notes" class="navbar-brand">
            <img src="~/images/logo.png"
                 width="25"
                 height="25" />OnlineNotePad
        </a>
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a class="nav-link" href="#">@User.Identity.Name</a>
                    </li>
                    <li class="nav-item">
                        <a method="post" asp-controller="Account" asp-action="Logout" class="nav-link">ВЫХОД</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" href="#"></a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="Login" asp-controller="Notes" class="nav-link">ВОЙТИ / РЕГИСТРАЦИЯ</a>
                    </li>
                }
            </ul>
        </div>
    </nav>
</header>